body {
    font-size: 1em;
    line-height: 1.5;
    background: #e7e7e7 url(/images/body-bg.png) 0 0 repeat;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    color: #6d6d6d;
}

.container {
    min-height: 595px;
}

.inner {
    width: 800px;
    margin: 0 auto;
}

.container .inner header {
    padding-top: 35px;
}

.container .inner header h1 {
    font-family: 'Exo 2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #303030;
    margin-bottom: 0;
}

.container .inner header h2 {
    font-family: 'Exo 2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #999;
    margin-top: 0;
}

.container .inner header h1 {
    font-family: 'Exo 2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #303030;
    margin-bottom: 0;
}

.container .inner header h1 a {
    text-decoration: none;
    color: black;
    margin: 0;
}

.container .inner header h2 {
    font-family: 'Exo 2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #999;
    margin-top: 0;
}

.container .inner header h4 {
    font-family: 'Exo 2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #999;
    margin-top: -10px;
}

.container .inner header a {
    text-decoration: none;
    margin: 0 5px;
}

.container .inner hr {
    height: 1px;
    line-height: 1px;
    border: none;
    background: transparent url(/images/hr.png) 50% 0 no-repeat;
}

.container .inner .home h3 {
    color: #008cba;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    padding: 0 40px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
}

.container .inner .home h3 a {
    color: #008cba;
    text-decoration: none;
    min-width: 180px;
}

.container .inner .home h3 a small {
    font-size: 12px;
}

.container .inner .hone ul {
    margin-bottom: 20px;
}

.container .inner .home ul li {
    padding-left: 2px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
}

.container .inner .home ul li img {
    margin-right: 5px;
}

.container .inner .home ul li a {
    text-decoration: none;
    color: #d5000d;
    line-height: inherit;
    margin-right: 15px;
}

.container .inner .home ul li small {
    font-size: 0.8em;
    box-sizing: border-box;
}

.container .inner .home ul li p {
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 8px;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.6;
}

.container .inner .home .pagination {
    text-align: center;
}

.container .inner .home .pagination img {
    width: 12px;
    height: 12px;
    margin: 0 5px;
}

.container .inner .home .pagination a {
    text-decoration: none;
}

.container .inner .home .pagination span.page_number {
    font-size: 16px;
}

.container .inner .home .summary {
    text-indent: 2em;
}

.container .inner p.meta {
    display: inline-block;
    margin-right: 10px;
}

.container .inner .post img {
    max-width: 796px;
    border: 1px #000000 solid;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #000000;
}

.container .inner .post .highlight {
    border-radius: 10px;
}

.container .inner .post .highlight pre {
    padding: 10px 15px;
}

.container .inner div.jiathis_style_24x24 {
    display: inline-block;
}

.container .inner .back {
    text-align: center;
}

.container .inner .back a {
    color: #008cba;
    text-decoration: none;
}


.container .inner footer {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 13px;
    color: #aaa;
}

.container .inner footer a {
    color: #666;
}

.container .inner footer a:hover {
    color: #444;
}


@media screen and (max-width: 800px) {
    .container .inner {
        width: 100%;
    }
    .container .inner header {
        padding-top: 0px;
    }
    .container .inner .post img {
        max-width: 90%;
    }
}




