---
layout: default
title: 专栏：每周ACM
---

<section class="home">
    {% include bar.html tag="Columns" %}
    <h3>YseraJS —— Web全栈解决方案</h3>
    <p class="summary">使用JavaScript为核心开发语言的Web全栈解决方案。</p>
    <ul>
        {% for post in site.categories.ysera %}
        <li>
            <img src="/images/newspaper.png">
            <a href="{{ post.url }}">{{ post.title }}</a>
            <small>{{ post.date | date: "%B %-d, %Y" }}</small>
        </li>
        <li>
            <p>{{ post.summary }}</p>
        </li>
        {% endfor %}
    </ul>

</section>

